@import 'tailwindcss';

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  /* hide scrollbar */
  scrollbar-width: none;
}
